:root {
  --primary-color: #0d1013;
  --background-color-1: #212428;
  --color-white: #fff;
  --color-light: hsl(0, 0%, 80%);
  --color-red: #ff014f;

  /* FONT SIZES */
  --larger-text: 2.25rem;
  --large-text: 1.8rem;
  --medium-text: 1.1rem;
  --text-leading: 1.25rem;
  --small-text: 0.8rem;

  /* COLORS */
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-4: #637c54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-1);
}

.header {
  background-color: var(--background-color-1);
}

/* NAVIGATION CONTAINER */

.nav_container {
  max-width: 95%;
  background-color: var(--background-color-1);
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

/* NAVIGATION LINKS CONTAINER */

.nav_links_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Nav item */

.nav_item {
  list-style: none;
}

/* Navigation links */

.nav_link {
  text-decoration: none;
  color: var(--color-light);
  font-size: var(--medium-text);
}

.nav_link:hover {
  color: var(--color-red);
}

.bold_text {
  color: var(--color-white);
}

.profile_img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px var(--color-light);
}

/* MAIN CONTAINER */
main {
  line-height: 3rem;
}

.colored-text {
  color: var(--color-red);
}
p,
h1,
h2,
h3 {
  color: var(--color-light);
}

.text-larger {
  font-size: var(--larger-text);
  font: bold;
  color: var(--color-white);
}
/* MAIN CONTAINER END */
.main_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* SECTIONS */

.section {
  min-height: 100vh;
  border-bottom: 1px solid var(--color-light);
}

/* HOME SECTION */

.home-section {
  display: grid;
  gap: 6rem;
  justify-content: space-between;
  grid-template-columns: 3fr 2fr;
  padding-top: 10rem;
}

.home-contents-container {
  padding: 1rem;
}

.text-leading {
  line-height: 1.5rem;
  font-size: var(--text-leading);
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.fa-brands {
  font-size: 30px;
  color: var(--color-light);
  min-width: 30px;
}

.fa-instagram:hover {
  color: rgb(195, 43, 162);
}

.fa-linkedin:hover {
  color: rgb(0, 119, 181);
}

.fa-facebook-f:hover {
  color: rgb(59, 89, 152);
}

.social-medias-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 2rem;
}

.social-medias-container li {
  text-align: center;
  box-shadow: 0 0 4px var(--color-light);
  padding: 10px;
  transition: transform 300ms;
}

.social-medias-container li:hover {
  transform: translateY(-0.15rem);
}

.social-medias-container a {
  text-decoration: none;
  margin: 0;
  display: flex;
  padding: 2px;
}

.home-img-container {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  transition: transform 1000ms;
}
.home-img-container:hover {
  cursor: pointer;
  transform: translateY(1rem);
}

.behind-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 350px;
  box-shadow: 0 0 4px var(--color-light);
  border-radius: 8px;
}

.home-img {
  height: 400px;
  align-self: flex-end;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* SERVICES SECTION */

.services-section {
  margin-top: 4rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.section-title {
  text-align: center;
}

.services-cards-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-contents-wrapper {
  text-align: center;
}

.card-title {
  color: var(--color-red);
}

.card-img {
  height: 150px;
}

.services-card {
  box-shadow: 0 0 10px var(--color-light);
  padding: 1rem 2rem;
  cursor: pointer;
}

/* ANNIMATIONS */
